@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

/*-------------------GENERALE--------------*/

body,
html {
    font-family: 'Lato', sans-serif;
    color: #3e3e3e;
}

button:focus {
    box-shadow: none !important;
}

/*------------------HEADER--------------*/

.logo-fanta {
    width: 80px;
    height: auto;
}

.nav-fanta {
    background-color: #0b5f91;
}

.nav-fanta-item a:link,
.nav-fanta-item a:visited {
    color: #fff;
    font-weight: 700;
    margin-right: 50px;
    font-size: 1.2rem;
}

.nav-fanta-item a:hover,
.nav-fanta-item a:active {
    color: #b30506;
}

.navbar-toggler i {
    color: #fff;
}

.navbar-nav li {
    padding-right: 20px;
}

/*------------------HOME----------------*/

.home h3 {
    text-align: center;
}

.home h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0b5f91;
    margin: 20px 0;
}

.home h4 {
    margin-top: 25px;
}

.home h4::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0b5f91;
    margin: 10px 0;
}

.home-record h3 {
    text-align: center;
}

.home-record h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #b30506;
    margin: 20px 0;
}

.btn-fanta{
    background-color: #0b5f91;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
}

.btn-fanta:hover {
    background-color: #b30506;
    color: #fff;
}

.form-control {
    box-shadow: none !important;
}

.form-control:focus {
    border: 2px solid #b30506 !important;
}

.list-player p {
    margin: 0;
    padding: 15px;
}

