.error-message{
    color: red;
    opacity: 0;
    text-align: center;
}
.error-border{
    border: 1px solid red;
    opacity: 0;
}
.fade-in{
    opacity: 1;
    transition: .5s all ease-in;
}

.logout{
    color: red!important;
}